<section>
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex rem, cupiditate voluptatum placeat, consequuntur autem, et omnis officiis totam in accusantium? Aperiam consectetur distinctio illum dolore placeat a perspiciatis tempore.</p>
    <article>
        <div>
           <h3>Crear ususarios</h3>

           <label>Nombre</label>
           <input id="inputName" name="nombre" placeholder="Ingrese su nombre"/>

           <label>Correo</label>
           <input type="email" id="inputEmail" name="email" placeholder="Ingrese su correo"/>

           <label>Edad</label>
           <input id="inputAge" name="age" placeholder="Ingrese su edad"/>

           <label>Ciudad</label>
           <input id="inputCity" name="city" placeholder="Ingrese su ciudad"/>

           <button id="btnCreateUser">Crear ususario</button>

        </div>
    </article>
</section>

