<section>
    <h2>Login</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex rem, cupiditate voluptatum placeat, consequuntur autem, et omnis officiis totam in accusantium? Aperiam consectetur distinctio illum dolore placeat a perspiciatis tempore.</p>
    <section>
        <div>
            <h3>Login</h3>
            <label>Usuario</label>
            <input id="userInput" placeholder="ingrese su usuario..." />
            <label>Contraseña</label>
            <input id="passInput" type="password" placeholder="ingrese su contraseña..." />
            <button id="buttonLogin">Ingresar</button>
        </div>
    </section>
</section>